<!DOCTYPE html>
<html>
	<style>

	*{
		margin: 0px;
		padding: 0px;
		text-align: center;
	}

	#header h3, h4, #link {
		display: inline-block;
		vertical-align: top;
		margin: 20px;
	}

	#container {
		margin: 10px;
		text-align: center;
	}

	 textarea {
		width: 300px;
		height: 100px;
		margin: 10px;
	}

	</style>

	<head>
		<title>WALL</title>
		<div id="header">
			<h3> Beyond the Wall </h3>
			<h4> Welcome            {{ session['first_name'] }} </h4> 
			<a id="link" href="http://localhost:5000/"> Log off </a>
		</div>
		<hr>
	</head>
	<body>
		<div id="container">
			<div id="walltowall">
				<h2> Post a message </h2>
				<form action="/post" method="POST"> 
					<textarea name="postinfo"></textarea>
					<p>
					<input type="submit" value="Post a message!">
					</p>
					<br>
				</form>
			</div>
					{% for items in session['messages'] %}
						<p><b>{{ items['first_name'] }} {{items['last_name']}} - {{ items['created_at']}} </b></p>
						<p> <b>{{ items['message'] }} </b> <br></p>
						{% for values in session['comments'] %}
							{%  if values['message_id'] == items['message_id'] %}
							 <p>{{ values['first_name']}} {{values['last_name']}} {{values['comments_created_at']}} </p> 
							 {{ values['comment']}}
							{% endif %}
						{% endfor %}
						<form action="/comment" method="POST">
							<textarea name="comment"></textarea>
							<input type="hidden" name="message_id" value="{{items['message_id']}}">
							<p><input type="submit" value="Post a comment!"></p>
						</form> 
					{% endfor %}		
				</div>
		</div>
	</body>
</html>