<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Coding Dojo Index</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
        <p>Your name:</p> 
        <form class="" action="/submit" method="post">
        <input type = 'text' placeholder = 'Name' name = 'name'>
        <p>Dojo Location:</p>
        <select class="" name="location">
          <option value="San Jose">San Jose</option>
          <option value="Washington DC">Washington DC</option>
          <option value="Seattle">Seattle</option>
          <option value="Chicago">Chicago</option>
          <option value="Dallas">Dallas</option>
        </select>
        <p>Favorite Language:</p>
        <select name="language" id="">
          <option value="Javascript">Javascript</option>
          <option value="Python">Python</option>
          <option value="Ruby">Ruby</option>
          <option value="PHP">PHP</option>
        </select>
        <p>Comments (optional):</p>
        <input id="comment" type='text' name='description'>
        <input type = 'submit' value = 'Submit'>
    </form>
</body>
</html>